html,body{
    font-family: 'Regular Sans' !important;
    padding:0px !important;
    margin:0px !important;
    background-color: #323840 !important;
}
.main-container{
    max-width: 1210px;
    background: #323840;
    position: relative;
    margin: auto;
}

.container{
  max-width: 1210px !important;
  padding: 0 !important;
  margin: 0 !important;
}

a{
    text-decoration: none !important;
}
li, ul{ 
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden;
}
.content-wrapper{
  flex: 1 1 0px;
}
.container{
  position: relative;
  margin: 0 auto;
  width: 1210px;
  max-width: 100%;
}
h1{
  font-family: 'Bold Sans' !important;
  font-size: 70px !important;
  color: #BDBDBD !important;
  text-transform: uppercase;
  span{
    color: #F4F4F4;
  }
}
h2{
  font-family: 'Bold Sans' !important;
  text-transform: uppercase;
  font-size: 60px !important;
  color: #BDBDBD !important;
  span{
    color: #F4F4F4;
  }
}

@import 'fonts';
@import 'maks';
@import 'nikolas';
@import 'media';