@media screen and (max-width: 1000px){
    .header-wrap{
      padding-right: 40px;
    }
  }
  @media screen and (max-width: 768px){
    .nav-wrap{
      display: none;
    }
    .toggle-menu{
      display: flex;
    }
    .wrap-login-btn{
      justify-content: flex-end;
      flex-grow: 1;
    }
    .wrap-login-btn .login-btn{
      margin-right: 40px;
    } 
  }
  @media screen and (max-width: 480px){
    .logo{
      width: 132px;
      height: 73px
    }
    .logo img{
      width: 98px;
    }
    .wrap-login-btn .login-btn{
      margin-right: 8px;
    }
    .wrap-login-btn .toggle-menu{
      margin-right: 4px;
    }
  }