header{
    position: relative;
    z-index: 3;
  .header-wrap{
    display:flex;
    align-items:center;
    padding-right: 120px;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db3522;
    width: 180px;
    height: 133px;
    border-radius: 0 0 20px 0;
  }
  .logo img{
    display: block;
    width: 118px;
  }

  .nav-wrap{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 6px;
  }
  .nav__list{
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 590px;
    justify-content: space-around;
    margin: 0 auto;
  }
  .nav__link{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #ddd;
    text-transform: uppercase
  }
  .nav__link:hover{
    text-shadow: 0 0 3px #c4c4c4;
    transition: .3s;
  }

  .wrap-login-btn{
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .login-btn{
    width: 98px;
    height: 46px;
    background: #3c434c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
  }
  .login-btn__icon img{
    display: block;
  }
  .login-btn:hover{
    box-shadow: 0 0 18px 0 #c4c4c4;
    transition: .3s;
  }
  .login-btn__text{
    font-size: 16px;
    color: #ddd;
    padding-left: 10px;
  }
  .toggle-menu{
    display: none;
  }
  .toggle-menu__btn{
    position: relative;
    width: 45px;
    height: 35px;
    margin: auto;
  }
  .toggle-menu__line{
    content:"";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #fff;
    opacity: 1;
    transition: 0.5s;
  }
  .toggle-menu__line_top{
    top: 0px;
  }
  .toggle-menu__line_middle{
    top: 50%;
    margin-top: -2px;
  }
  .toggle-menu__line_bottom{
    bottom: 0px;
  }
  .header-wrap.dropdown-is-opened .toggle-menu__line_top{
    transform: rotate(45deg) translate(12px, 10px);
  }
  .header-wrap.dropdown-is-opened .toggle-menu__line_middle{
    opacity: 0;
  }
  .header-wrap.dropdown-is-opened .toggle-menu__line_bottom{
    transform: rotate(-45deg) translate(12px, -10px);
  }
  .header-dropdown-menu{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #323840 0%, rgba(24, 26, 31, 0.535937) 95%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .header-wrap.dropdown-is-opened .header-dropdown-menu{
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    pointer-events: auto;
  }
  .header-dropdown-menu__link{
    display: block;
    padding: 15px;
    font-size: 16px;
    line-height: 1.2;
    color: #DDDDDD;
    text-transform: uppercase;
    text-align: center;
  }
}


footer{
  height:83px;
  display:grid !important;
  grid-template-columns: 330px 192px 272px 411px;
  background: #373F48;
  border-radius: 10px 10px 0px 0px;
  @media screen and (max-width: 1166px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
  a{
    color:#FFFFFF;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    place-self: center;
  }
  div{
    width:100%;
    display: grid;
  }
  div.last-footer-item{
    justify-content: end;
    a{
      position: relative;
      right:50px;
    }
  }
}