html, body {
  font-family: 'Regular Sans' !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #323840 !important; }

.main-container {
  max-width: 1210px;
  background: #323840;
  position: relative;
  margin: auto; }

.container {
  max-width: 1210px !important;
  padding: 0 !important;
  margin: 0 !important; }

a {
  text-decoration: none !important; }

li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden; }

.content-wrapper {
  flex: 1 1 0px; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1210px;
  max-width: 100%; }

h1 {
  font-family: 'Bold Sans' !important;
  font-size: 70px !important;
  color: #BDBDBD !important;
  text-transform: uppercase; }
  h1 span {
    color: #F4F4F4; }

h2 {
  font-family: 'Bold Sans' !important;
  text-transform: uppercase;
  font-size: 60px !important;
  color: #BDBDBD !important; }
  h2 span {
    color: #F4F4F4; }

@font-face {
  font-family: 'Regular Sans';
  src: url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Bold Sans';
  src: url("/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
#first-screen .block {
  position: relative;
  min-height: 836px;
  padding: 120px 37px 37px;
  margin-bottom: 133px; }
  #first-screen .block .first-screen-content {
    position: relative;
    z-index: 1; }
    #first-screen .block .first-screen-content .head {
      max-width: 800px;
      line-height: 1.3; }
    #first-screen .block .first-screen-content .text {
      max-width: 585px;
      color: #fff;
      line-height: 27px;
      font-size: 20px;
      letter-spacing: .01em;
      margin-top: 100px;
      margin-bottom: 78px;
      padding-left: 3px; }
    #first-screen .block .first-screen-content .content-button {
      width: 289px;
      height: 83px;
      margin-left: -1px;
      justify-content: center;
      font-size: 20px;
      color: #fff;
      background: #db3522;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      cursor: pointer;
      border: none;
      box-shadow: 0 10px 30px rgba(198, 55, 47, 0.2);
      border-radius: 10px 10px 10px 0;
      text-transform: uppercase;
      outline: none; }
      #first-screen .block .first-screen-content .content-button:hover {
        transition: .3s;
        box-shadow: 0 0 18px 0 #c4c4c4; }
#first-screen .first-screen-bg {
  position: absolute;
  right: -144px;
  top: -80px;
  width: 623px; }
  #first-screen .first-screen-bg img {
    display: block;
    margin-left: auto;
    width: 100%;
    height: auto; }
#first-screen .first-screen-icon .decor {
  position: absolute;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  width: 149px;
  height: 149px;
  left: 0px;
  bottom: -5px; }
#first-screen .first-screen-icon .icon {
  position: absolute;
  bottom: 163px;
  right: 557px; }
@media screen and (max-width: 480px) {
  #first-screen .block {
    min-height: auto;
    width: 100%;
    padding: 49px 15px 0;
    margin-bottom: 66px; }
    #first-screen .block .first-screen-content .head {
      width: 230px;
      font-size: 27px !important; }
    #first-screen .block .first-screen-content .text {
      width: 176px;
      margin-top: 20px;
      margin-bottom: 50px;
      padding-left: 0;
      font-size: 14px;
      line-height: 23px; }
    #first-screen .block .first-screen-content .content-button {
      width: 289px;
      height: 73px;
      margin: 0 auto; } }

#second-screen .block {
  position: relative;
  min-height: 836px;
  padding: 120px 37px 37px;
  margin-bottom: 133px; }

.feedback {
  padding: 0 36px; }
  .feedback span {
    font-size: 60px;
    line-height: 70px;
    color: #F4F4F4;
    text-transform: uppercase; }

/*Section 2:START*/
.terms {
  padding-left: 33px;
  padding-bottom: 70px;
  margin-bottom: 157px; }

.terms__inner {
  display: flex;
  flex-direction: column; }

.terms__head {
  padding-left: 9px;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #f4f4f4; }

.terms__head-span {
  color: #c4c4c4; }

.terms__list {
  display: flex;
  width: 100%;
  padding-left: 3px; }

.terms__item {
  width: 25%;
  padding-right: 20px; }

.terms__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: .01em;
  color: #fff; }

.terms__text b {
  font-weight: bold; }

.wrap-terms-circles {
  position: static;
  padding: 127px 0 54px;
  max-width: 1084px; }

.terms-circles {
  display: flex;
  align-items: center;
  width: 100%;
  user-select: none; }

.terms-circles__item {
  display: block;
  width: 28.5%;
  height: 15px;
  position: relative;
  background-color: #fff;
  left: 15px; }

.terms-circles__item:first-child {
  background-repeat: no-repeat;
  background-size: 100%; }

.terms-circles__item:last-child {
  background-color: inherit;
  width: 6%; }

.terms-circles .arrow {
  display: flex;
  padding-left: 20px;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.terms-circles .arrow__span {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  animation: arrow 3s infinite; }

.terms-circles .arrow__span:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid #db3522;
  border-right: 5px solid #db3522;
  transform: rotate(-45deg); }

.terms-circles .arrow__span:nth-child(2) {
  animation-delay: -.3s; }

.terms-circles .arrow__span:nth-child(3) {
  animation-delay: -.6s; }

.terms-circles .arrow__span:nth-child(4) {
  animation-delay: -.9s; }

.terms-circles .arrow__span:nth-child(5) {
  animation-delay: -1.2s; }

.terms-circles__circle {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -30px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #db3522;
  font-size: 36px;
  line-height: 35px;
  border-radius: 50%;
  color: #fff; }

@keyframes arrow {
  0% {
    opacity: 0;
    left: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0;
    left: 100%; } }
@media screen and (max-width: 1100px) {
  .terms {
    padding: 0 37px 60px; }

  .terms__head {
    font-size: 45px;
    line-height: 1.2; }

  .terms__item {
    padding-right: 15px; }

  .terms__text {
    font-size: 16px;
    line-height: 1.5; }

  .terms-circles__item {
    width: 25%; } }
@media screen and (max-width: 768px) {
  .wrap-terms-circles {
    padding: 10px 0;
    width: 48px; }

  .terms__inner {
    flex-direction: row;
    margin-top: 22px; }

  .terms {
    padding: 0 20px 60px; }

  .terms__head-span {
    margin-left: 0; }

  .terms__list {
    flex-direction: column; }

  .terms__item {
    min-height: 115px;
    width: 100%;
    margin-left: auto;
    padding-bottom: 30px; }

  .terms__item:last-child {
    min-height: auto; }

  .terms__text {
    font-size: 18px;
    line-height: 25px;
    padding-left: 10px; }

  .terms-circles {
    flex-direction: column;
    width: 14px;
    padding-top: 20px; }

  .terms-circles__item {
    display: block;
    height: 115px;
    left: 16px; }

  .terms-circles__item:last-child {
    height: auto; }

  .terms-circles .arrow {
    display: none; }

  .terms-circles__circle {
    left: -18px;
    width: 39px;
    height: 39px;
    font-size: 18px; } }
@media screen and (max-width: 480px) {
  .terms {
    padding: 0 15px;
    margin-bottom: 68px; }

  .terms__head {
    font-size: 32px;
    padding: 0; }

  .terms__item {
    padding-bottom: 20px; }

  .terms__text {
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px; }

  .terms__inner {
    margin-top: 29px; } }
/*Section 2:END*/
/*Section 3:START*/
.expectations {
  padding-bottom: 215px; }

.expectations__head {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #f4f4f4;
  margin-bottom: 107px;
  padding-left: 39px; }

.expectations__head span {
  color: #c4c4c4; }

.expectations .decor-img {
  position: absolute;
  left: 621px;
  top: -65px; }

.expectations .decor-span {
  position: absolute;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  width: 149px;
  height: 149px;
  right: 55px;
  top: -138px; }

.expectations .decor-img-2 {
  position: absolute;
  right: 10px;
  bottom: 16px; }

.expectations .decor-span-2 {
  position: absolute;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  width: 149px;
  height: 149px;
  left: 515px;
  bottom: 132px; }

.expectations-cards {
  max-width: 1202px;
  margin: 0 auto; }

.expectations-card-slider .card {
  width: 33%;
  background-color: #323840;
  border: none; }

.expectations-card-slider .card .card-wrap-img {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.expectations-card-slider .card .card-wrap-img__circle {
  width: 303px;
  height: 303px;
  position: absolute;
  background: #39424a;
  border-radius: 50%; }

.expectations-card-slider .card .card-wrap-img__img {
  width: auto;
  height: 416px;
  user-select: none;
  z-index: 10; }

.expectations-card-slider .card__head {
  display: flex;
  max-width: 260px;
  min-height: 44px;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 15px; }

.expectations-card-slider .card__body {
  padding: 45px 20px 37px;
  background: #39424a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 363px;
  margin: auto; }

.expectations-card-slider .card__body-border-red {
  border-bottom: 10px solid #db3522; }

.expectations-card-slider .card__body-border-white {
  border-bottom: 10px solid #fff; }

.expectations-card-slider .card__item {
  margin-bottom: 15px;
  color: #db3522;
  display: flex; }

.expectations-card-slider .card__item:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #db3522;
  display: block;
  border-radius: 50%;
  padding-right: 13px;
  margin-right: 20px;
  margin-top: 8px; }

.expectations-card-slider .card__text {
  font-weight: 200;
  color: #fff; }

.expectations-card-slider .card__text {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: .01em; }

.expectations-card-slider .card__text strong {
  font-weight: bold;
  color: #f3f2f2; }

.expectations-cards .tns-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.expectations-cards .tns-nav button {
  width: 18px;
  height: 18px;
  padding: 0;
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 5px;
  outline: none;
  background: none; }

.expectations-cards .tns-nav button.tns-nav-active {
  width: 18px;
  background: #db3522; }

@media screen and (max-width: 1100px) {
  .expectations {
    padding-bottom: 105px; }

  .expectations__head {
    padding: 0 37px;
    margin-bottom: 60px;
    font-size: 45px;
    line-height: 1.2; }

  .expectations-card-slider .card__head {
    width: auto;
    margin: 0 0 20px 0;
    font-size: 18px; }

  .expectations-card-slider .card__body {
    padding: 20px 15px; }

  .expectations-card-slider .card {
    padding: 0 5px; }

  .expectations-card-slider .card__item {
    padding: 0; }

  .expectations-card-slider .card__text {
    font-size: 16px; }

  .expectations-card-slider .card .card-wrap-img__circle {
    height: 240px;
    width: 240px; }

  .expectations-card-slider .card .card-wrap-img__img {
    height: 360px; } }
@media screen and (max-width: 768px) {
  .expectations-card-slider .card__body {
    max-width: 500px; } }
@media screen and (max-width: 480px) {
  .expectations__head {
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 30px;
    padding: 0 15px; }

  .expectations-card-slider .card__text {
    font-size: 14px; }

  .expectations .decor-wrap {
    display: none; } }
/*Section 3:END*/
/*Section 4:START*/
.levels {
  padding: 0 30px; }

.levels__tabs {
  margin: 0 -30px; }

.levels__head {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #f4f4f4;
  padding-left: 10px;
  margin-bottom: 43px; }

.levels__head span {
  color: #c4c4c4; }

.levels__btns {
  margin-bottom: 30px; }

.levels__btns-control {
  display: none; }

.levels__btns .tns-ovh {
  overflow: visible; }

.levels__btns-carousel {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px; }

.levels__btn-wrap {
  width: 210px;
  flex: 1 1 0px;
  margin: 0 5px; }

.levels__btn {
  width: 100%;
  height: 85px;
  background: #232a34;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  user-select: none; }

.levels__btn:hover {
  transition: .3s;
  box-shadow: 0 0 18px 0 #c4c4c4; }

.levels .active {
  background: #db3522; }

.tab {
  position: relative;
  overflow: hidden;
  min-height: 890px;
  padding: 85px 30px 130px;
  background-color: #232b34;
  border-radius: 20px;
  display: none; }

.tab__line {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 150%;
  height: 150px;
  border-top: 10px solid #db3522;
  transform: rotate(-3deg);
  background-color: #323840;
  z-index: 10; }

.tab__img {
  height: 800px;
  z-index: 1;
  display: block; }

.tab__circle {
  width: 450px;
  height: 450px;
  display: block;
  border-radius: 50%;
  background: #323840;
  position: absolute;
  top: 100px; }

.tab__picture {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 400px; }

.tab__description-wrap {
  position: relative;
  padding-left: 505px;
  z-index: 1; }

.tab__description {
  display: flex;
  flex-wrap: wrap;
  min-height: 510px; }

.tab__description-text {
  flex: 1 1 0px;
  padding-left: 40px;
  padding-top: 4px; }

.tab__text {
  min-height: 120px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: .01em;
  color: #fff; }

.tab-experience {
  background: rgba(50, 56, 64, 0.74);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin: 35px 0 29px -28px; }

.tab-experience__text {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: .01em;
  color: #fff;
  font-style: italic; }

.tab-inner-list__item {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: .01em;
  color: #fff; }

.tab__description-time {
  width: 220px; }

.tab-num {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tab-num__num {
  font-weight: bold;
  font-size: 140px;
  line-height: 1;
  text-transform: uppercase;
  color: #f4f4f4; }

.tab-num__num, .tab-num__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.tab-num__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff; }

.tab-week {
  width: 193px;
  height: 193px;
  border-radius: 50%;
  background: #323840;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 78px auto 0; }

.tab-week__text {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  letter-spacing: .01em;
  color: #fff; }

.tab-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 0; }

.tab-btns__btn {
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  height: 85px;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border: none;
  outline: none; }

.tab-btns__btn-price {
  background: #323840;
  border-radius: 10px;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: .01em;
  margin-right: 10px; }

.tab-btns__btn-buy {
  background: #db3522;
  box-shadow: 0 10px 30px rgba(198, 55, 47, 0.2);
  border-radius: 10px 10px 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  user-select: none; }

.tab-btns__btn-buy:hover {
  transition: .3s;
  box-shadow: 0 0 18px 0 #c4c4c4; }

.tab-btns__btn-learn {
  display: none; }

.show-tab {
  display: block; }

@media screen and (max-width: 1100px) {
  .levels {
    padding: 0 37px; }

  .levels__tabs {
    margin: 0 -37px; }

  .levels__head {
    font-size: 45px;
    line-height: 1.2;
    padding: 0;
    margin-bottom: 40px; }

  .levels__btn {
    height: 60px;
    font-size: 15px; }

  .tab__description-wrap {
    padding-left: 300px; }

  .tab__description-time {
    width: 170px; }

  .tab__description-text {
    padding-left: 15px; }

  .tab__text {
    font-size: 14px; }

  .tab-experience {
    padding: 15px;
    margin: 35px 0 29px -15px; }

  .tab-experience__text {
    font-size: 15px;
    line-height: 22px; }

  .tab-inner-list__item {
    font-size: 14px;
    line-height: 24px; }

  .tab-week {
    width: 160px;
    height: 160px; }

  .tab-btns__btn-price {
    font-size: 20px; }

  .tab__picture {
    width: 220px; }

  .tab__circle {
    width: 350px;
    height: 350px; } }
@media screen and (max-width: 768px) {
  .levels {
    padding: 0 20px; }

  .levels__tabs {
    margin: 0 -20px; }

  .tab__picture {
    width: 300px;
    left: -10px; }

  .tab__description-text {
    display: none; }

  .tab__description {
    min-height: 350px; }

  .tab__description-time {
    width: 100%; }

  .tab__img {
    height: 790px; }

  .tab-week {
    margin: 30px auto 0; }

  .tab-btns {
    flex-wrap: wrap; }

  .tab-btns__btn {
    width: 100%;
    height: 70px;
    flex: auto;
    margin: 0 0 20px; }

  .tab-btns__btn-learn {
    display: block;
    border-radius: 10px;
    font-size: 16px;
    background-color: #323840;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: normal; }

  .tab-btns__btn-learn:hover {
    transition: .3s;
    box-shadow: 0 0 18px 0 #c4c4c4; }

  .levels__btn {
    font-size: 12px;
    height: 50px; } }
@media screen and (max-width: 600px) {
  .levels__btns {
    position: relative;
    width: 270px;
    margin: 0 auto 30px; }

  .levels__btns-control {
    display: block; }

  .levels__btns .tns-ovh {
    overflow: hidden; }

  .levels__btns-control-next, .levels__btns-control-prev {
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    outline: none;
    transform: translateY(-50%);
    border: 14px solid transparent; }

  .levels__btns-control-next {
    right: -35px;
    border-left-color: #fff; }

  .levels__btns-control-prev {
    left: -35px;
    border-right-color: #fff; }

  .levels__btns-carousel {
    margin: 0; }

  .levels__btn {
    height: 60px;
    font-size: 20px; }

  .levels__btn:hover {
    box-shadow: none; }

  .tab__circle {
    top: 30px;
    left: -70px; }

  .tab-btns__btn {
    height: 60px; }

  .tab-btns__btn-price {
    font-size: 18px; }

  .tab-num__num {
    font-size: 100px; }

  .tab-week {
    width: 130px;
    height: 130px; }

  .tab-week__text {
    font-size: 24px; }

  .tab__picture {
    justify-content: normal;
    width: 260px;
    left: -40px; }

  .tab__description {
    min-height: 300px; }

  .tab__line {
    bottom: -10px;
    left: -10px; } }
@media screen and (max-width: 600px) {
  .levels {
    padding: 0 15px; }

  .levels__head {
    font-size: 32px; }

  .levels__btns {
    width: 250px; }

  .tab {
    min-height: 675px;
    padding: 20px 5px 70px; }

  .tab__line {
    bottom: -70px; }

  .tab__description-wrap {
    padding: 15px; }

  .tab__picture {
    bottom: 60px; }

  .tab__circle {
    width: 380px;
    height: 380px;
    top: 30px;
    left: -170px; }

  .tab__img {
    height: 600px; }

  .tab-num {
    width: 130px;
    margin: 0 0 0 auto; }

  .tab-week {
    margin: 30px 0 0 auto; }

  .tab-btns__btn {
    margin-bottom: 15px; }

  .tab-btns__btn-price {
    justify-content: flex-end;
    height: auto;
    font-size: 20px;
    background: none; } }
/*Section 4:END*/
/*Section 5:START*/
.reviews {
  margin-top: 100px;
  margin-bottom: 155px;
  position: relative; }

.reviews__head {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #f4f4f4;
  letter-spacing: 2px;
  padding-left: 39px; }

.reviews__body {
  max-width: 1000px;
  margin: 0 auto; }

.reviews .decor-img {
  position: absolute;
  right: 20px;
  top: 0; }

.reviews .decor-span {
  position: absolute;
  display: block;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  width: 149px;
  height: 149px;
  left: 80px;
  bottom: -80px; }

.reviews-slide-wrap {
  display: flex;
  padding: 0 20px 30px; }

.reviews-slide__avatar-wrap {
  width: 301px;
  height: 301px;
  background: #39424a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 60px; }

.reviews-slide__avatar {
  width: 198px;
  height: 198px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%; }

.reviews-slide__content {
  flex-grow: 1; }

.reviews-slide__head {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: .01em;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 22px; }

.reviews-slide__head:after {
  content: "";
  display: block;
  width: 130px;
  height: 0;
  border: 1px solid #c4c4c4;
  margin-left: 50px; }

.reviews-slide__text {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: .01em;
  color: #fff; }

.reviews .tns-nav {
  display: flex;
  justify-content: center; }

.reviews .tns-nav button {
  width: 18px;
  height: 18px;
  padding: 0;
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 5px;
  outline: none;
  background: none;
  -webkit-appearance: none; }

.reviews .tns-nav button.tns-nav-active {
  background: #db3522; }

@media screen and (max-width: 1100px) {
  .reviews__head {
    padding: 0 37px; }

  .reviews-slide__avatar-wrap {
    width: 250px;
    height: 250px; }

  .reviews-slide__text {
    font-size: 18px;
    line-height: 24px; } }
@media screen and (max-width: 768px) {
  .reviews__head {
    padding: 0 20px; }

  .reviews-slide__avatar {
    width: 150px;
    height: 150px; }

  .reviews-slide__avatar-wrap {
    width: 180px;
    height: 180px; }

  .reviews-slide__text {
    font-size: 16px; } }
@media screen and (max-width: 600px) {
  .reviews-slide-wrap {
    flex-direction: column; }

  .reviews-slide__avatar-wrap {
    margin: 0 auto 20px; } }
@media screen and (max-width: 480px) {
  .reviews {
    margin-top: 0;
    margin-bottom: 100px; }

  .reviews__head {
    font-size: 32px;
    padding: 0 15px; }

  .reviews .decor-wrap {
    display: none; } }
/*Section 5:END*/
header {
  position: relative;
  z-index: 3; }
  header .header-wrap {
    display: flex;
    align-items: center;
    padding-right: 120px; }
  header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db3522;
    width: 180px;
    height: 133px;
    border-radius: 0 0 20px 0; }
  header .logo img {
    display: block;
    width: 118px; }
  header .nav-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 6px; }
  header .nav__list {
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 590px;
    justify-content: space-around;
    margin: 0 auto; }
  header .nav__link {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #ddd;
    text-transform: uppercase; }
  header .nav__link:hover {
    text-shadow: 0 0 3px #c4c4c4;
    transition: .3s; }
  header .wrap-login-btn {
    position: relative;
    display: flex;
    justify-content: space-around; }
  header .login-btn {
    width: 98px;
    height: 46px;
    background: #3c434c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer; }
  header .login-btn__icon img {
    display: block; }
  header .login-btn:hover {
    box-shadow: 0 0 18px 0 #c4c4c4;
    transition: .3s; }
  header .login-btn__text {
    font-size: 16px;
    color: #ddd;
    padding-left: 10px; }
  header .toggle-menu {
    display: none; }
  header .toggle-menu__btn {
    position: relative;
    width: 45px;
    height: 35px;
    margin: auto; }
  header .toggle-menu__line {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #fff;
    opacity: 1;
    transition: 0.5s; }
  header .toggle-menu__line_top {
    top: 0px; }
  header .toggle-menu__line_middle {
    top: 50%;
    margin-top: -2px; }
  header .toggle-menu__line_bottom {
    bottom: 0px; }
  header .header-wrap.dropdown-is-opened .toggle-menu__line_top {
    transform: rotate(45deg) translate(12px, 10px); }
  header .header-wrap.dropdown-is-opened .toggle-menu__line_middle {
    opacity: 0; }
  header .header-wrap.dropdown-is-opened .toggle-menu__line_bottom {
    transform: rotate(-45deg) translate(12px, -10px); }
  header .header-dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #323840 0%, rgba(24, 26, 31, 0.53594) 95%, transparent 100%);
    opacity: 0;
    user-select: none;
    pointer-events: none; }
  header .header-wrap.dropdown-is-opened .header-dropdown-menu {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    pointer-events: auto; }
  header .header-dropdown-menu__link {
    display: block;
    padding: 15px;
    font-size: 16px;
    line-height: 1.2;
    color: #DDDDDD;
    text-transform: uppercase;
    text-align: center; }

footer {
  height: 83px;
  display: grid !important;
  grid-template-columns: 330px 192px 272px 411px;
  background: #373F48;
  border-radius: 10px 10px 0px 0px; }
  @media screen and (max-width: 1166px) {
    footer {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  footer a {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    place-self: center; }
  footer div {
    width: 100%;
    display: grid; }
  footer div.last-footer-item {
    justify-content: end; }
    footer div.last-footer-item a {
      position: relative;
      right: 50px; }

@media screen and (max-width: 1000px) {
  .header-wrap {
    padding-right: 40px; } }
@media screen and (max-width: 768px) {
  .nav-wrap {
    display: none; }

  .toggle-menu {
    display: flex; }

  .wrap-login-btn {
    justify-content: flex-end;
    flex-grow: 1; }

  .wrap-login-btn .login-btn {
    margin-right: 40px; } }
@media screen and (max-width: 480px) {
  .logo {
    width: 132px;
    height: 73px; }

  .logo img {
    width: 98px; }

  .wrap-login-btn .login-btn {
    margin-right: 8px; }

  .wrap-login-btn .toggle-menu {
    margin-right: 4px; } }

/*# sourceMappingURL=style.css.map */
